.navbar {
    background-color: #10222e;
    padding: 10px;
  }
  
  .navbar-items {
    display: inline-flex;
    align-items: center; 
  }
  
  .logo {
    width: 180px; 
    height: auto;
    margin-right: 50px; 
  }
  
  .navbar-brand {
    color: #333;
    font-size: 380px;
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif
  }
  